

/* ingredient page - styling */
.ingredient-container{
    min-height:1000px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ingredient-box{
    width:80%;
    padding:20px 5%;
    background-color: aliceblue;
    color: #000;
    border-bottom:1px solid #aaa;
}