@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
:root{
    --clr-1:#DCC9B6;
    --clr-2:#FFEDD8;
    --clr-3:ghostwhite;
    --clr-4:#FEFAE0;
    --clr-5:#f3d5b5;
    --clr-6:#550c18;
    --clr-7:#ffe6a7;
}
ul{
    list-style-type: none;
}
body{
    background-image:linear-gradient(#582707, #550c18)
}
.container{
    width:1100px;    
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    background-color: aliceblue;
    margin:20px auto;
    font-size:36px;
    text-align: center;
    background:rgb(0, 4, 30);
}

/* nav styling */
.nav{
    grid-row:1;
    grid-column: 1 / -1;
    background: #550c18;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    padding:10px 20px;
    min-height:40px;
    display:flex;
    justify-content: flex-end;
    margin-left:50px;
}
.nav .nav-link{
    text-decoration: none;
    font-size:0.75rem;
    color:#f3d5b5;
    margin-right:2rem;
    font-weight:bold;
}
#search-box{    
    width:50px;
    height:30px;
    border-radius:5px;
    border:none;
    margin-right:50px;
    background-color: transparent;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#search-box input{
    width:10px;
    height:100%;
    border:none;
    background-color: transparent;
    outline:none;
    opacity: 0.00;
    filter: alpha(opacity=00);
}

#search-box i{
    color:ghostwhite;
}

#search-box:hover input{
    width:200px;
    opacity: 1;
}
#search-box:hover{
    width:240px;
    background-color: ghostwhite;
}
#search-box:hover i{
    color:#550c18;
}

/* header styling */
.header{
    grid-row:2;
    grid-column: 1 / -1;
    
}
.header{
    height:250px;
    position: relative;
    overflow: hidden;
    background-image: url(./components/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header .header-intro{
    width:360px;
    
    position:absolute;
    top:50px;
    left:100px;
    padding:10px 20px;
    background-color:#550c18;
    box-shadow:0px 0px 15px rgba(255, 255, 255, 0.8);
    color:var(--clr-7);
    border-radius: 5px;
}

.header .header-intro h3{
    text-transform:uppercase;
    font-size:42px;
    letter-spacing: 0.1rem;
}

.header .header-intro p{
    letter-spacing: 0.1rem;
    font-weight:400;
}
.header img{
    width:100%;
    object-fit: cover;
}



.category-section{
    grid-row:3;
    grid-column:1/-1;
    
}
.area-section{
    grid-row:4;
    grid-column:1/-1;
    
}
.ingredients-container{
    grid-row:5;
    grid-column:1/-1;
    
}
.meal-details-container{
    margin:0 auto;
    max-width:1100px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding:20px 0;
    border-radius: 5px;
}

.meal-details-box{
    background-color: ghostwhite;
    display:flex; 
    justify-content: space-evenly; 
    padding:1rem; 
}
.meal-details-box img{
    width:50%;
    padding:0rem 5%;
    border-radius:5px;
}
.meal-details-box .meal-details{
    width:45%;
    background:ghostwhite;
    padding-right:5%;
}
.meal-details-box h2{
    padding-bottom:1rem;
}
.meal-details p{
    text-align:justify;
}

/* footer : styling */
.footer{
    grid-row:6;
    grid-column:1/-1;
    background-color: brown;
}
.footer{
    min-height:250px;
    color:white;
    background-image:linear-gradient(rgb(40, 0, 0), rgb(80, 0 , 0));
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex:1;
    color:var(--clr-5);
}
.footer .address-div h3{
    padding-bottom: 0.25rem;
    letter-spacing: 00.10rem;
}
.footer .address-div strong{
    letter-spacing: 0.1rem;
    font-size:0.75rem;
}
.footer .address-div p{
    font-size:0.75rem;
}
.footer .footer-links .footer-link{
    color:var(--clr-5);
    text-decoration:none;
    font-size:0.75rem;
}
.footer .sm-links li{
    color:var(--clr-5);
    text-decoration:none;
    font-size:0.75rem;
    line-height:25px;
}
.footer .contact-div h5{
    font-size:0.75rem;
    padding-bottom:1rem;
    letter-spacing: 0.08rem;
}
.footer .contact-div input{
    height:30px;
    border:none;
    outline:none;
    border-radius:5px 0 0 5px;
    width:200px;
    padding-left:20px;
}
.footer .contact-div button{
    height:30px;
    width:70px;
    background-color:var(--clr-5);
    color:var(--clr-6);
    border-radius:0 5px 5px 0;
    font-weight:bold;
    border:none;
    outline:none;
}
.footnote{
    background-image:linear-gradient(rgb(40, 0, 0), rgb(80, 0 , 0));
    color:var(--clr-5);
    font-size:0.5rem;
    text-align: center;
    padding:0.5rem 0 ;
}